{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Book Review</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
</head>
<body>
    <header>
        <div>My Book Reviews</div>
        <nav>
            <a href="{% url "reviews_list" %}">Back to list</a>
        </nav>
    </header>
    <main>
        <div class="book-review-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <div>
                <button>Submit</button>
            </div>
        </div>
    </main>
    <footer>
        <div>Copyright 2022 by Josh Lee</div>
        <p>
            This website is to help me get more comfortable using the html 
            types including label, input, and form.
        </p>
    </footer>
</body>
</html>