{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>make it stick - Book Reviews</title>
    <link rel="stylesheet" href="{% static "book-review.css" %}">
</head>
<body>
    <div>My Book Reviews</div>
    <nav>
        <a href="{% url "reviews_list" %}">Back to list</a>
        <a href="{% url 'create_review' %}">Create a review</a>
    </nav>
    <main>
        <div class="detail-page-book-review">
            <img class="book-cover" src="{{ review.cover_image }}">
            <h2 class="book-title">
                <a href="{% url "review_detail" review.id %}">{{ review.title }}</a>
            </h2>
            <div class="book-rating">{{ review.rating }} stars</div>
            <div class="book-authors">
                {{ review.authors }}
            </div>
            <h3>Summary</h3>
            <p>
                {{ review.summary }}
            </p>
            <h2>My review</h2>
            <p>
                {{ review.review }}
            </p>
            <p>
                It's at this point in the assignment that I realized I should actually use the structured 
                instructions instead of just trying to guess how to do the assignment. 
                I, like a dummy, even looked up photos of the book cover online and used
                that as my img src and went through the trouble of finding a higher 
                quality photo. Lucklily I got saved by Christie speaking up and checking 
                in with me. Thanks Christie!
            </p>
        </div>
    </main>
    <footer>
        <div>Copyright 2022 by Josh Lee</div>
        <p>
            This website is for me to remember how to actually write things in html. 
            Also to remind myself that I stil much prefer backend to frontend.
        </p>
    </footer>
</body>
</html>