html {
    background-color:  beige;
    font-family: Verdana, Geneva Tahoma, sans-serif;
}

body {
    margin: 0;
}

header {
    padding: 12px;
    display: grid;
    grid-template-columns: fr fr ;
    column-gap: 20px;
    align-items: center;
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
    display: grid;
    grid-template-columns: fr fr;
    column-gap: 20px;
    align-items: center;
}

main {
    max-width: 800px;
    margin: auto;
}

input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button {
    padding: 12px;
    font-size: 110%;
}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
    display: grid;
    grid-template: auto auto auto auto fr / auto fr;   
    column-gap: 20px;
}

.book-cover {
    width: 200px;
    height: auto;
    grid-row: 1 / span 6;
    grid-column: 1 / 2; 
}

.book-title {
    font-weight: bold;
    font-size: 150%;
    grid-row-start: 1;
    grid-column-start: 2;
}

.book-rating {
    font-size: 125%;
    grid-row-start: 2;
    grid-column-start: 2;
}

.book-authors {
    color:dimgray;
    grid-column-start: 2;
    grid-row-start: 3;
} 

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}

.book-review-form {
    background-color: white;
    padding: 24px;
}